SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_ANON_KEY=your-public-anon-key
FRONTEND_URL=http://localhost:3001,http://localhost:5173
PORT=5005

TEST_API_KEY=rzp_test_
TEST_KEY_SECRET=......